.navbar {
  .navbar-brand {
    @include font-size(28px);
    font-weight: 600;
  }
  .navbar-nav {
    position: relative;
    .nav-item {
      position: relative;
      margin: 0;
      @include media-breakpoint-up(md) {
        margin: 0 0.2rem;
      }
      .nav-link {
        position: relative;
        padding: 0.5rem 0.8rem;
        color: $white;
        @include media-breakpoint-down(sm) {
          padding-left: 12%;
        }
      }
      &::after {
        position: absolute;
        content: "";
        display: block;
        background-color: $highlight-color;
        height: 2px;
        width: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        transition: all ease-in-out 0.2s;
        @include media-breakpoint-down(sm) {
          width: 0;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          right: unset;
        }
      }
      &.active {
        &::after {
          width: 100%;
          @include media-breakpoint-down(sm) {
            width: 10%;
          }
        }
      }
      &:hover {
        &::after {
          width: 100%;
          @include media-breakpoint-down(sm) {
            width: 0;
          }
        }
      }
    }
  }
}

.navbar-toggler {
  position: absolute;
  left: calc(100% - 110px);
  top: 6px;
  border: unset;
  border-radius: 0;
  &:focus {
    border: unset;
    outline: none;
  }
  span {
    @include font-size(30px);
    color: $white;
  }
}

.navbar-collapse {
  @include media-breakpoint-down(sm) {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 5;
    margin-left: -16px;
    margin-right: -15px;
    background-color: $primary;
  }
}

.search-input {
  position: absolute;
  width: 250px;
  right: 0;
  top: 0;
  z-index: 1;
  transition: all ease-in-out 0.2s;
  .form-group {
    margin-bottom: 0;
    .search-icon {
      position: absolute;
      top: 50%;
      width: 40px;
      height: 40px;
      transform: translateY(-50%);
      text-align: center;
      span {
        line-height: 40px;
      }
    }
    .form-control {
      max-height: 40px;
      padding-left: 40px;
      padding-right: 0;
      border-radius: unset;
      border: unset;
    }
  }
}

.search-bar-button {
  position: relative;
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: $white;
  cursor: pointer;
  span {
    line-height: 40px;
    user-select: none;
  }
}

.navbar-header{
  position: relative;
  background-color: $primary;
  .navbar-container{
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
  }  
}