@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
@import "variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/src/index.scss";
@import "mixin";
@import "navbar";
@import "detailCard";
@import "footer";
@import "panel";

:root {
  overflow: auto;
  scrollbar-color: #aaa transparent;
  scrollbar-width: thin;
  scroll-behavior: smooth;

  // chrome
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    width: 6px;
    height: 6px;
    border-radius: 13px;
    background-clip: padding-box;
    border: 6px solid #aaa;
    background-color: #aaa;
  }

  &::-webkit-scrollbar-track {
    border-radius: 13px;
    background-color: transparent;
    border: 6px solid transparent;
    background-clip: padding-box;
  }
}

:root.light {
  --bg-theme: $white;
  --bg-color: $white;
  --text-color: #222222;
  --duration: 0.5s;
  --timing: ease;
  --btn-background: var(--primary);
  --btn-text: var(--white);
}

:root.dark {
  --bg-theme: #3c415c;
  --bg-color: #1a2029;
  --text-color: #ffffff;
  --duration: 0.5s;
  --timing: ease;
  --btn-background: var(--pink);
  --btn-text: var(--white);
}

html,
body {
  height: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-weight: 400;
  transition: color var(--duration) var(--timing),
    background-color var(--duration) var(--timing);
}
body {
  position: relative;
  height: 100%;
  font-family: "Rubik", sans-serif;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

a {
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

h1,
h2,
h3 {
  color: $primary;
  font-weight: 600;
}

.page-title {
  position: relative;
  display: flex;
  flex-direction: column;
  @include media-breakpoint-up(md) {
    flex-direction: row;
    align-items: center;
  }
  h2 {
    position: relative;
    @include font-size(28px);
    @include media-breakpoint-up(md) {
      @include font-size(36px);
    }
    flex: 1;
  }
  .action-area {
    position: relative;
    display: flex;
    width: 100%;
    border-top: 1px solid $light;
    border-bottom: 1px solid $light;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: all ease-in-out 0.2s;
    @include media-breakpoint-up(md) {
      margin-left: auto;
      border: unset;
      padding-top: 0;
      padding-bottom: 0;
      width: auto;
    }
    align-items: center;
    a {
      position: relative;
      display: inline-block;
      margin: 0 5px;
      width: 100px;
      cursor: pointer;
      @include media-breakpoint-down(sm) {
        width: 80px;
      }
      &:first-child {
        margin-left: 0;
      }
      span {
        color: rgba($color: $black, $alpha: 0.6);
        @include media-breakpoint-down(sm) {
          @include font-size(22px);
        }
        transition: all ease-in-out 0.2s;
      }
      &:hover,
      &.current {
        span {
          color: $black;
        }
      }
      &.disabled {
        span {
          color: $light;
        }
      }
    }
    .custom-select {
      position: relative;
      padding: 10px 15px;
      background: $light
        url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
        no-repeat right 15px center/8px 10px;
      line-height: 1;
      height: 40px;
      border-radius: unset;
      &:focus {
        box-shadow: none;
        border-color: $black;
      }
      &:focus-visible {
        box-shadow: none;
        outline: none;
      }
    }
  }
}

.custom-button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  background-color: rgba($color: $light, $alpha: 0.5);
  color: $primary;
  border: 1px solid transparent;
  padding: 0.5rem 1.5rem;
  @include font-size(16px);
  transition: all ease-in-out 0.2s;
  &:focus,
  &:hover,
  &:focus-visible {
    outline: none;
  }

  &:hover,
  &:active,
  &:visited {
    background-color: $light;
  }
}

.overlay-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  background-color: rgba($color: $light, $alpha: 0.2);
  border-radius: 4px;
  transition: all ease-in-out 0.2s;
  .icon-loader {
    span {
      @include font-size(60px);
      color: $primary;
      line-height: 60px;
      animation: spin 2s linear infinite;
    }
  }
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
    transform-origin: center;
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform-origin: center;
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    transform-origin: center;
  }
}

.custom-container{
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @include media-breakpoint-up(md){
    max-width: 720px;
  } 
  @include media-breakpoint-up(lg){
    max-width: 960px;
  }   
  @include media-breakpoint-up(xl){
    max-width: 1140px;
  }
}